<div class="d-flex bd-highlight">
    <div class="img_cont">
        <img [src]="friendsDetails?.profile_picture" class="rounded-circle user_img">
        <span class="online_icon" *ngIf="friend" [ngClass]="{'offline': userOnline(friendLastSeen) !== true}"></span>
    </div>
    <div class="user_info">
        <span>Chat with <span class="text-capitalize">{{ friend }}</span></span>
        <p *ngIf="friend">{{ friendLastSeen | lastSeen }}</p>
    </div>
    <div class="video_cam d-none">
        <span><i class="video icon"></i></span>
        <span><i class="camera icon"></i></span>
    </div>
</div>
<span id="action_menu_btn" (click)="menu()"><i class="ellipsis vertical icon"></i></span>
<div class="action_menu">
    <ul>
        <li class="text-capitalize" (click)="unfriendConfirmation($event)"><i class="user red icon"></i> Unfriend {{ friend }}</li>
        <li (click)="clearChatsConfirmation()"><i class="trash red icon"></i> Delete All Chats</li>
    </ul>
</div>