<form [formGroup]="form" class="input-group">
    <div class="input-group-append">
        <span class="input-group-text attach_btn"><i class="chat icon"></i></span>
    </div>
    <textarea name="text" 
              class="form-control type_msg"
              formControlName="text"
              placeholder="type message..."></textarea>
    <div class="input-group-append">
        <button class="input-group-text send_btn" 
                (click)="send()" 
                [disabled]="form.invalid"
                [ngClass]="{'disabled-btn': form.invalid}">
            <i class="send icon"></i>
        </button>
    </div>
</form>