<div class="ui dimmer">
    <div class="ui text loader">Changing Password...</div>
</div>
<div class="ui header">
    <i class="key circular icon"></i>
    <div class="content">
        Change Password <div class="sub header">Change account password.</div>
    </div>
</div>
<form>
    <div class="row pt-4 pb-5">
        <div class="col-lg-3 mb-4">
            <input type="text" class="form-control" placeholder="Old Password...">
        </div>
        <div class="col-lg-3 mb-4">
            <input type="text" class="form-control" placeholder="New Password...">
        </div>
        <div class="col-lg-3 mb-4">
            <input type="text" class="form-control" placeholder="Confirm New Password...">
        </div>
        <div class="col-lg-3 mb-4">
            <button class="btn btn-block btn-info">Change Password</button>
        </div>
    </div>
</form>