<div class="ui active dimmer" *ngIf="loading">
    <div class="ui text loader">Changing Password...</div>
</div>
<div class="ui header pt-3">
    <i class="key circular icon"></i>
    <div class="content">
        Change Password <div class="sub header">Change account password.</div>
    </div>
</div>
<form [formGroup]="form">
    <div class="row pt-4 pb-5">
        <div class="col-lg-3 mb-5">
            <input type="password" 
                   id="old_password" 
                   class="form-control"
                   [ngClass]="{'is-invalid': !form.controls.old_password.pristine && form.controls.old_password.invalid || response?.data?.old_password}"
                   formControlName="old_password"
                   placeholder="Old password...">
            <p class="invalid-feedback text-left">
                <span *ngIf="form.controls.old_password.errors?.required">Account password is required.</span>
                <span *ngIf="response?.data?.old_password">{{ response?.data?.old_password }}</span>
            </p>
        </div>
        <div class="col-lg-3 mb-4">
            <input type="password" 
                   id="new_password" 
                   class="form-control"
                   [ngClass]="{'is-invalid': !form.controls.new_password.pristine && form.controls.new_password.invalid || response?.data?.new_password}"
                   formControlName="new_password"
                   placeholder="New password...">
            <p class="invalid-feedback text-left">
                <span *ngIf="form.controls.new_password.errors?.required">New account password is required.</span>
                <span *ngIf="response?.data?.old_password">{{ response?.data?.new_password }}</span>
            </p>
        </div>
        <div class="col-lg-3 mb-4">
            <input type="password" 
                   id="confirm_password" 
                   class="form-control"
                   [ngClass]="{'is-invalid': !form.controls.confirm_password.pristine && form.controls.confirm_password.invalid  || response?.data?.confirm_password}"
                   formControlName="confirm_password"
                   placeholder="Confirm password...">
            <p class="invalid-feedback text-left">
                <span *ngIf="form.controls.confirm_password.errors?.required">Confirm new account password is required.</span>
                <span *ngIf="response?.data?.old_password">{{ response?.data?.confirm_password }}</span>
            </p>
        </div>
        <div class="col-lg-3 mb-4">
            <button class="btn btn-block btn-info" (click)="changePassword()" [disabled]="form.invalid">
                <i class="key icon"></i> Change Password
            </button>
        </div>
    </div>
</form>