<li class="" *ngFor="let friend of (friends | async)">
    <div class="d-flex bd-highlight pointer" (click)="openChat(friend.username)">
        <div class="img_cont">
            <img [src]="friend.profile_picture"
                class="rounded-circle user_img">
            <span class="online_icon"></span>
        </div>
        <div class="user_info w-100 pr-1">
            <div class="row">
                <div class="col-9 pb-2">
                    <span>{{ friend.username }}</span>
                    <p>{{ friend.username }} is online</p>
                </div>
                <div class="col-3 pt-2 text-center" *ngIf="friend.messages > 0">
                    <button class="ui circular tiny icon teal button" (click)="openChat(friend.username)">
                        <i class="chat icon"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</li>