<div class="ui header">
    <i class="user circular icon"></i>
    <div class="content">
        Accounts Settings <div class="sub header">Manage your account details.</div>
    </div>
</div>
<div class="ui horizontal list pb-2 pt-3">
    <div class="item">
        <img class="ui small rounded-circle image mr-2 mb-3" src="./assets/friends/zack.jpg">
        <div class="content pt-1">
            <div class="input-group mb-1">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="inputGroupFile02">
                    <label class="custom-file-label text-left" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">
                        <i> <i class="picture icon"></i> Upload profile picture</i>
                    </label>
                </div>
                <div class="input-group-append">
                    <button class="input-group-text btn btn-info" id="inputGroupFileAddon02">
                        <i class="cloud upload icon"></i> Upload
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>