<!-- Messager -->
<div class="chats messager">
    <div class="inner-container">
        <div class="container-fluid h-100">
            <div class="row justify-content-center h-100">
                <div class="col-sm-6 col-md-4 chat">
                    <div class="card mb-sm-3 mb-md-0 contacts_card d-xs-none">
                        <div class="card-header">
                            <div class="input-group">
                                <input type="text" placeholder="Search for a friend..." name="" class="form-control search">
                                <div class="input-group-prepend">
                                    <span class="input-group-text search_btn"><i class="search icon"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="card-body contacts">
                            <ul class="contacts w-100">
                                <app-friends-window></app-friends-window>
                            </ul>
                        </div>
                        <div class="card-footer"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
