<li class="">
    <div class="d-flex bd-highlight">
        <div class="img_cont">
            <img [src]="friend?.profile_picture" class="rounded-circle user_img">
        </div>
        <div class="user_info w-100">
            <div class="row">
                <div class="col-6">
                    <span>{{ friend?.username }}</span>
                    <p>{{ friend?.username }} is online</p>
                </div>
                <div class="col-6 pt-2 text-right">
                    <div class="ui tiny buttons">
                        <button class="ui button black" (click)="decline()">Decline</button>
                        <div class="or"></div>
                        <button class="ui button teal" (click)="accept()">Accept</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</li>