<!-- Carousel -->
<div id="carousel">
    <div id="carousel-example" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active ">
                <img src="../../../assets/background/file-protected-officer.jpg" class="d-block w-100" style="height: 100vh;"
                    alt="img1">
                <div class="carousel-caption row">
                    <div class="col-lg-10 offset-lg-1 pt-4 pr-2 pb-5 pl-2 bg-dark">
                        <h1 class="">PrivateChat<i class="chat icon"></i></h1>
                        <div class="sub-title">
                            <i>Keeping you private is our purpose.</i>
                        </div>
                        <div class="description">
                            <p>
                                As PrivateChat we protect our users data and privacy by hidding our users email.<br />
                                That means if a user whats to be friends with you the user must know your account
                                username.<br />
                                Your can also change your account username to have more privacy.<br /><br /><br />
                                <i>"PrivateChat"</i>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>