<!-- Register -->
<div class="register">
    <div class="outer-container p-3">
        <div class="col-sm-8 offset-sm-2 col-md-6 offset-md-3">
            <form [formGroup]="form" class="ui segment text-center border border-light p-5 bg-white shadow-lg">
                <div class="ui active dimmer" *ngIf="loader" style="width: 100%;">
                    <div class="ui large text loader">Registering Account...</div>
                </div>
                <p class="h4 mb-5">Join The <i class="users icon"></i> Community.</p>
                <div class="row">
                    <div class="col-lg-6 mb-4">
                        <!-- Username -->
                        <input type="text" 
                                id="username" 
                                class="form-control"
                                [ngClass]="{'is-invalid': !form.controls.username.pristine && form.controls.username.invalid}"
                                formControlName="username"
                                placeholder="Username">
                        <p class="invalid-feedback text-left">
                            <span *ngIf="form.controls.username.errors?.required">Username is required.</span>
                            <!-- <span *ngIf="form.controls.username.errors?.minLength?.actualLength < form.controls.username.errors?.minLength?.requiredlLength">
                                Username must be at least {{ form.controls.username.errors?.minLength?.requiredLength }} characters long.
                            </span>
                            <span *ngIf="form.controls.username.errors?.maxLength?.actualLength < form.controls.username.errors?.maxLength?.requiredlLength">
                                Username must have maximum of {{ form.controls.username.errors?.maxLength?.requiredlLength }} characters.
                            </span> -->
                        </p>
                    </div>
                    <div class="col-lg-6 mb-4">
                        <!-- Email -->
                        <input type="email" 
                               id="email" 
                               class="form-control"
                               [ngClass]="{'is-invalid': !form.controls.email.pristine && form.controls.email.invalid}"
                               formControlName="email"
                               placeholder="Email">
                        <p class="invalid-feedback text-left">
                            <span *ngIf="form.controls.email.errors?.required">Email is required.</span>
                            <span *ngIf="form.controls.email.errors?.email">Invalid email address..</span>
                        </p>
                    </div>
                </div>
                <!-- Password -->
                <input type="password" 
                        id="defaultformPassword" 
                        class="form-control"
                        [ngClass]="{
                            'is-invalid': !form.controls.password.pristine && form.controls.password.invalid,
                            'mb-4': !form.controls.password.pristine && form.controls.password.valid
                        }"
                        formControlName="password"
                        placeholder="Password" 
                        aria-describedby="defaultformPasswordHelpBlock">
                <p class="invalid-feedback text-left">
                    <span *ngIf="form.controls.password.errors?.required">Password is required.</span>
                    <span *ngIf="form.controls.password.errors?.minLength?.actualLength < form.controls.password.errors?.minLength?.actualLength">
                        Password must be 6 characters long.
                    </span>
                    <span *ngIf="form.controls.password.errors?.maxLength">
                        Password must have maximum of 20 characters.
                    </span>
                </p>
                <small id="defaultformPasswordHelpBlock"
                       *ngIf="form.controls.password.invalid"
                       class="form-text text-muted mb-4 text-left">
                    At least 5 characters and 1 digit.
                </small>
                
                <!-- Phone number -->
                <input type="password" 
                        id="defaultRegisterConfirmPassword" 
                        class="form-control"
                        [ngClass]="{'is-invalid': !form.controls.confirm_password.pristine && form.controls.confirm_password.invalid}"
                        formControlName="confirm_password"
                        placeholder="Confirm Password" 
                        aria-describedby="defaultformPhoneHelpBlock">
                <p class="invalid-feedback text-left">
                    <span *ngIf="form.controls.confirm_password.errors?.required">Please confirm your password.</span>
                </p>
                <small id="defaultformPhoneHelpBlock" class="form-text text-muted mb-4 text-left">
                    Please repeat your password.
                </small>
                <!-- Form Response Success -->
                <div class="ui success message text-left" *ngIf="response?.status == true">
                    <i class="user small icon"></i> <p>{{ response?.message }}</p>
                </div>
                <!-- Form Response Warning -->
                <div class="ui warning message text-left" *ngIf="response?.status == false">
                    <div class="header">{{ response?.message }}</div>
                    <ul class="list">
                        <li *ngIf="response?.data?.username">{{ response?.data?.username }}</li>
                        <li *ngIf="response?.data?.email">{{ response?.data?.email }}</li>
                        <li *ngIf="response?.data?.password">{{ response?.data?.password }}</li>
                        <li *ngIf="response?.data?.confirm_password">{{ response?.data?.confirm_password }}</li>
                    </ul>
                </div>
                <!-- Form Error -->
                <div class="ui error message icon text-left" *ngIf="error">
                    <i class="warning sign icon"></i> <p>{{ error }}</p>
                </div>
                <!-- Register button -->
                <button class="btn btn-info my-4 btn-block" type="submit" (click)="register()">Register</button>
                <!-- Social follow -->
                <p>Please follow us on :</p>
                <a href="#" class="mx-2" role="button"><i class="facebook icon light-blue-text"></i></a>
                <a href="#" class="mx-2" role="button"><i class="twitter icon light-blue-text"></i></a>
                <a href="#" class="mx-2" role="button"><i class="linkedin icon light-blue-text"></i></a>
                <a href="#" class="mx-2" role="button"><i class="github icon light-blue-text"></i></a>
                <hr>
                <!-- message -->
                <p class="text-muted">
                    Join the <i class="users icon"></i> community and start <i class="send icon"></i> texting to your friends.
                </p>
            </form>
        </div>
    </div>
</div>