<!-- Login -->
<div class="login">
    <div class="outer-container">
        <div class="col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-xl-4 offset-xl-4">
            <!-- Default form login -->
            <form class="text-center border border-light pt-5 pr-5 pl-5 pb-4 bg-white shadow-lg" action="#!">
                <p class="h4 mb-5">Welcome Back To PrivateChat.</p>
                <!-- Email -->
                <input type="email"
                       id="defaultLoginFormEmail"
                       class="form-control mb-4"
                       placeholder="E-mail">
                <!-- Password -->
                <input type="password"
                       id="defaultLoginFormPassword"
                       class="form-control mb-4"
                       placeholder="Password">
                <div class="d-flex justify-content-around">
                    <div>
                        <!-- Remember me -->
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox"
                                   class="custom-control-input"
                                   id="defaultLoginFormRemember">
                            <label class="custom-control-label"for="defaultLoginFormRemember">Remember me</label>
                        </div>
                    </div>
                    <div>
                        <!-- Forgot password -->
                        <a href="">Forgot password?</a>
                    </div>
                </div>
                <!-- Sign in button -->
                <button class="btn btn-info btn-block my-4" type="submit">Sign in</button>
                <!-- Social follow -->
                <p>Please follow us on :</p>
                <a href="#" class="mx-2" role="button"><i class="facebook icon light-blue-text"></i></a>
                <a href="#" class="mx-2" role="button"><i class="twitter icon light-blue-text"></i></a>
                <a href="#" class="mx-2" role="button"><i class="linkedin icon light-blue-text"></i></a>
                <a href="#" class="mx-2" role="button"><i class="github icon light-blue-text"></i></a>
            </form>
        </div>
    </div>
</div>