<!-- Messager -->
<div class="chats messager">
    <div class="inner-container">
        <div class="container-fluid h-100">
            <div class="row justify-content-center h-100">
                <div class="col-md-4 col-xl-3 chat d-none d-lg-block d-xl-block">
                    <div class="card mb-sm-3 mb-md-0 contacts_card d-xs-none">
                        <div class="card-header">
                            <div class="input-group">
                                <input type="text" placeholder="Search for a friend..." name="" class="form-control search">
                                <div class="input-group-prepend">
                                    <span class="input-group-text search_btn"><i class="search icon"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="card-body contacts">
                            <ul class="contacts w-100">
                                <app-friends-window></app-friends-window>
                            </ul>
                        </div>
                        <div class="card-footer"></div>
                    </div>
                </div>
                <div class="col-md-8 col-xl-6 chat">
                    <div class="card">
                        <div class="card-header msg_head">
                            <app-chat-window-header></app-chat-window-header>
                        </div>
                        <div class="card-body msg_card_body">
                            <div class="d-flex justify-content-start mb-4">
                                <div class="img_cont_msg">
                                    <img src="./assets/friends/emma.png" class="rounded-circle user_img_msg">
                                </div>
                                <div class="msg_cotainer">
                                    Hi, Zack how are you doing.
                                    <span class="msg_time">8:40 AM, Today</span>
                                </div>
                            </div>
                            <div class="d-flex justify-content-end mb-4">
                                <div class="msg_cotainer_send">
                                    Emma howzit I am great whats up.
                                    <span class="msg_time_send">8:55 AM, Today</span>
                                </div>
                                <div class="img_cont_msg">
                                    <img src="./assets/friends/zack.jpg" class="rounded-circle user_img_msg">
                                </div>
                            </div>
                            <div class="d-flex justify-content-start mb-4">
                                <div class="img_cont_msg">
                                    <img src="./assets/friends/emma.png" class="rounded-circle user_img_msg">
                                </div>
                                <div class="msg_cotainer">
                                    Just check on you had you had a flu which type, the hang over one or real one.
                                    <span class="msg_time">9:00 AM, Today</span>
                                </div>
                            </div>
                            <div class="d-flex justify-content-end mb-4">
                                <div class="msg_cotainer_send">
                                    ohhhhhhhhhhh?????????
                                    <span class="msg_time_send">9:05 AM, Today</span>
                                </div>
                                <div class="img_cont_msg">
                                    <img src="./assets/friends/zack.jpg" class="rounded-circle user_img_msg">
                                </div>
                            </div>
                            <div class="d-flex justify-content-start mb-4">
                                <div class="img_cont_msg">
                                    <img src="./assets/friends/emma.png" class="rounded-circle user_img_msg">
                                </div>
                                <div class="msg_cotainer">
                                    You have to stop getting this flu. Zack can you send me your laptop login screen picture.
                                    <span class="msg_time">9:07 AM, Today</span>
                                </div>
                            </div>
                            <div class="d-flex justify-content-end mb-4">
                                <div class="msg_cotainer_send">
                                    Ok, will send it now.
                                    <span class="msg_time_send">9:10 AM, Today</span>
                                </div>
                                <div class="img_cont_msg">
                                    <img src="./assets/friends/zack.jpg" class="rounded-circle user_img_msg">
                                </div>
                            </div>
                            <div class="d-flex justify-content-end mb-4">
                                <div class="msg_cotainer_send">
                                    <img src="./assets/post/pcgay.png">
                                    <span class="msg_time_send">9:15 AM, Today</span>
                                </div>
                                <div class="img_cont_msg">
                                    <img src="./assets/friends/zack.jpg" class="rounded-circle user_img_msg">
                                </div>
                            </div>
                            <div class="d-flex justify-content-end mb-4">
                                <div class="msg_cotainer_send">
                                    Did you see this video Mr Probz part two.
                                    <span class="msg_time_send">9:20 AM, Today</span>
                                </div>
                                <div class="img_cont_msg">
                                    <img src="./assets/friends/zack.jpg" class="rounded-circle user_img_msg">
                                </div>
                            </div>
                            <div class="d-flex justify-content-end mb-4">
                                <div class="msg_cotainer_send">
                                    <video controls>
                                        <source src="./assets/post/Jack_Walton_sings_Mr_Probz_Waves.mp4">
                                        Sorry your browser does not support this video type.
                                    </video>
                                    <span class="msg_time_send">9:24 AM, Today</span>
                                </div>
                                <div class="img_cont_msg">
                                    <img src="./assets/friends/zack.jpg" class="rounded-circle user_img_msg">
                                </div>
                            </div>
                            <div class="d-flex justify-content-start mb-4">
                                <div class="img_cont_msg">
                                    <img src="./assets/friends/emma.png" class="rounded-circle user_img_msg">
                                </div>
                                <div class="msg_cotainer">
                                    Wowooooo.. The boy can sing. Thanks, bye.
                                    <span class="msg_time">9:32 AM, Today</span>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="input-group">
                                <div class="input-group-append">
                                    <span class="input-group-text attach_btn"><i class="chat icon"></i></span>
                                </div>
                                <textarea name="" class="form-control type_msg"
                                    placeholder="Type your message..."></textarea>
                                <div class="input-group-append">
                                    <button class="input-group-text send_btn"><i class="send icon"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
