<!-- Messager -->
<div class="chats messager">
    <div class="inner-container">
        <div class="container-fluid h-100">
            <div class="row justify-content-center h-100">
                <div class="col-md-5 col-xl-4 chat d-none d-lg-block d-xl-block">
                    <div class="card mb-sm-3 mb-md-0 contacts_card d-xs-none">
                        <div class="card-header">
                            <div class="input-group">
                                <input type="text" placeholder="Search for a friend..." name="" class="form-control search">
                                <div class="input-group-prepend">
                                    <span class="input-group-text search_btn"><i class="search icon"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="card-body contacts">
                            <ul class="contacts w-100">
                                <app-friends-window (open)="newChatWindow($event)" [active]="friend"></app-friends-window>
                            </ul>
                        </div>
                        <div class="card-footer"></div>
                    </div>
                </div>
                <div class="col-md-8 col-xl-6 chat">
                    <div class="card">
                        <div class="card-header msg_head">
                            <app-chat-window-header (delete)="deleteAllText()"></app-chat-window-header>
                        </div>
                        <div class="card-body msg_card_body">
                            <div *ngFor="let chat of chats">
                                <div [ngSwitch]="chat.from">
                                    <div *ngSwitchCase="friend">
                                        <app-friend-text [chat]="chat"
                                                         (delete)="deleteText($event)"></app-friend-text>
                                    </div>
                                    <div *ngSwitchDefault>
                                        <app-user-text [chat]="chat" 
                                                       (delete)="deleteText($event)"></app-user-text>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <app-chat-window-input></app-chat-window-input>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
