<!-- Sidebar -->
<nav class="ui inverted labeled icon left inline vertical sidebar menu uncover visible" id="sidebar">
    <a class="item" [routerLink]="['home']" [routerLinkActive]="['active']">
        <i class="home icon"></i> Home
    </a>
    <a class="item" *ngIf="loggedin" [routerLink]="['chats']" [routerLinkActive]="['active']">
        <i class="chat icon" *ngIf="notification?.chats">
            <i class="ui circular teal label" *ngIf="notification?.chats > 0">{{ notification?.chats }}</i>
        </i> Chats 
    </a>
    <a class="item" *ngIf="loggedin" [routerLink]="['friends']" [routerLinkActive]="['active']">
        <i class="users icon" *ngIf="notification?.friends">
            <i class="ui circular teal label" *ngIf="notification?.friends > 0">{{ notification?.friends }}</i>
        </i> Friends
    </a>
    <a class="item" *ngIf="loggedin" [routerLink]="['requests']" [routerLinkActive]="['active']">
        <i class="smile icon">
            <i class="ui circular teal label" *ngIf="notification?.requests > 0">{{ notification?.requests }}</i>
        </i>Requests
    </a>
    <a class="item" *ngIf="loggedin" [routerLink]="['search']" [routerLinkActive]="['active']">
        <i class="search icon"></i> Search
    </a>
    <a class="item" *ngIf="!loggedin" [routerLink]="['login']" [routerLinkActive]="['active']">
        <i class="user icon"></i> Login
    </a>
    <a class="item" *ngIf="!loggedin" [routerLink]="['register']" [routerLinkActive]="['active']">
        <i class="signup icon"></i> Register
    </a>
    <a class="item" *ngIf="loggedin" [routerLink]="['settings']" [routerLinkActive]="['active']">
        <i class="cogs icon"></i> Settings
    </a>
    <a class="item" *ngIf="loggedin" (click)="logout()">
        <i class="delete icon"></i> Logout
    </a>
</nav>