<!-- Sidebar -->
<nav class="ui inverted labeled icon left inline vertical sidebar menu uncover visible" id="sidebar">
    <a class="item" routerLink=""><i class="home icon"></i> Home </a>
    <a class="item" routerLink="chats"><i class="chat icon"><i class="ui circular teal label">2</i></i> Chats </a>
    <a class="item" routerLink="friends"><i class="users icon"><i class="ui circular teal label">2</i></i> Friends</a>
    <a class="item" routerLink="friends/requests"><i class="smile icon"><i class="ui circular teal label">2</i></i>Requests </a>
    <a class="item" routerLink="friends/search"><i class="search icon"></i> Search </a>
    <a class="item" routerLink="login"><i class="user icon"></i> Login </a>
    <a class="item" routerLink="register"><i class="signup icon"></i> Register </a>
    <a class="item" routerLink="settings"><i class="cogs icon"></i> Settings </a>
    <a class="item"><i class="delete icon"></i> Logout </a>
</nav>