<!-- Friends -->
<div class="chats search">
    <div class="inner-container">
        <div class="container-fluid h-100">
            <div class="row justify-content-center h-100">
                <div class="col-sm-8 col-md-6 col-xl-4 chat">
                    <div class="card mb-sm-3 mb-md-0 contacts_card d-xs-none">
                        <div class="card-header">
                            <div class="input-group">
                                <input type="text" 
                                        placeholder="Search for a friend..."
                                        name="search"
                                        [formControl]="search"
                                        class="form-control search">
                                <div class="input-group-prepend">
                                    <span class="input-group-text search_btn"><i class="search icon"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="card-body contacts_body">
                            <ul class="contacts w-100">
                                <app-friend-request *ngFor="let friend of searchResults" [friend]="friend"></app-friend-request>
                            </ul>
                        </div>
                        <div class="card-footer"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>