<!-- Friends -->
<div class="chats search">
    <div class="inner-container">
        <div class="container-fluid h-100">
            <div class="row justify-content-center h-100">
                <div class="col-sm-8 col-md-6 col-xl-4 chat">
                    <div class="card mb-sm-3 mb-md-0 contacts_card d-xs-none">
                        <div class="card-header">
                            <div class="input-group">
                                <input type="text" 
                                        placeholder="Search for a friend..."
                                        name="search"
                                        [formControl]="search"
                                        class="form-control search">
                                <div class="input-group-prepend">
                                    <span class="input-group-text search_btn"><i class="search icon"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="card-body contacts_body">
                            <ul class="contacts w-100">
                                <li *ngFor="let friend of searchResults">
                                    <div class="d-flex bd-highlight">
                                        <div class="img_cont">
                                            <img [src]="friend?.profile_picture" class="rounded-circle user_img">
                                        </div>
                                        <div class="user_info w-100">
                                            <div class="row">
                                                <div class="col-9 pb-2">
                                                    <span>{{ friend?.username }}</span>
                                                    <p>{{ friend?.username }} last seen {{ friend?.last_seen | date }}</p>
                                                </div>
                                                <div class="col-3 pt-2 text-center">
                                                    <button class="ui circular tiny icon teal button add friend" 
                                                            (click)="confirmRequest(friend?.username)">
                                                        <i class="user icon"></i> <i class="plus icon"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="card-footer"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>