<!-- Register -->
<div class="settings">
    <div class="outer-container">
        <div class="col-sm-10 offset-sm-1 col-lg-8 offset-lg-2 box">
            <div class="border border-light pt-5 pr-5 pl-5 pb-4 bg-white shadow-lg text-center" action="#!">
                <div class="ui header">
                    <i class="user circular icon"></i>
                    <div class="content">
                        Accounts Settings <div class="sub header">Manage your account details.</div>
                    </div>
                </div>
                <div class="ui horizontal list pb-2 pt-3">
                    <div class="item">
                        <img class="ui small rounded-circle image mr-2 mb-3" src="./assets/friends/zack.jpg">
                        <div class="content pt-1">
                            <div class="input-group mb-3">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="inputGroupFile02">
                                    <label class="custom-file-label text-left" for="inputGroupFile02"
                                        aria-describedby="inputGroupFileAddon02">
                                        <i> <i class="picture icon"></i> Upload profile picture</i>
                                    </label>
                                </div>
                                <div class="input-group-append">
                                    <button class="input-group-text btn btn-info" id="inputGroupFileAddon02">
                                        <i class="cloud upload icon"></i> Upload
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <form class="form-inline">
                        <div class="form-group mb-2">
                            <label for="staticEmail2" class="sr-only">Email</label>
                            <input type="text" readonly class="form-control-plaintext" id="staticEmail2"
                                value="email@example.com">
                        </div>
                        <div class="form-group mx-sm-3 mb-2">
                            <label for="inputPassword2" class="sr-only">Username</label>
                            <input type="password" class="form-control" id="inputPassword2" placeholder="Password">
                        </div>
                        <button type="submit" class="btn btn-info mb-2">Change Username</button>
                    </form>
                </div>
                <div class="ui divider mt-5 mb-5"></div>
                <div class="ui header">
                    <i class="key circular icon"></i>
                    <div class="content">
                        Change Password <div class="sub header">Change account password.</div>
                    </div>
                </div>
                <form>
                    <div class="row pt-4 pb-5">
                        <div class="col-lg-3 mb-4">
                            <input type="text" class="form-control" placeholder="Old Password...">
                        </div>
                        <div class="col-lg-3 mb-4">
                            <input type="text" class="form-control" placeholder="New Password...">
                        </div>
                        <div class="col-lg-3 mb-4">
                            <input type="text" class="form-control" placeholder="Confirm Password">
                        </div>
                        <div class="col-lg-3 mb-4">
                            <button class="btn btn-block btn-info">Change Password</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>